@import "mocha.css";

* {
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  border-radius: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: @base;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
  padding: 0;
}

#workspaces,
#tray,
#cpu,
#network,
#pulseaudio,
#clock,
#custom-arch,
#custom-power,
#custom-notifications,
#window {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

#workspaces {
  padding: 0px;
  font-size: 20px;
  color: @pine;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 25px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @pine;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: @iris;
  color: @base;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @pine;
  color: @base;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

tooltip {
  border-radius: 7px;
  background-color: @base;
  color: @text;
  padding: 2px;
}

.hidden {
  opacity: 0;
}
