@import "mocha.css";

* {
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  border-radius: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: @base;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
  padding: 0;
}

#workspaces,
#tray,
#cpu,
#network,
#pulseaudio,
#clock,
#custom-arch,
#custom-power,
#custom-notifications,
#window {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

#workspaces button {
  border-radius: 20px;
  color: @pine;
  background: transparent;
  margin: 0;
  padding: 0 18px;
  transition: all 0.2s ease;
}

#workspaces button.active {
  background: @iris;
  color: @base;
}

#workspaces button:hover {
  background: @pine;
  color: @base;
}

tooltip {
  border-radius: 7px;
  background-color: @base;
  color: @text;
  padding: 2px;
}

.hidden {
  opacity: 0;
}
