@import "mocha.css";

* {
    color: @text;
    font-family: 'JetBrainsMono Nerd Font';
    border-radius: 25px;
    padding: 2px;
}

window#waybar {
  background-color: @crust;
  margin: 4px 0px;
  border-radius: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;  
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background-color: @mantle;
  margin: 4px 7.5px;
}

#workspaces button {
  all: initial;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#network,
#pulseaudio,
#clock,
#custom-power,
#window {
  margin: 4px 7.5px;
  background-color: @mantle;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
