* {
    main-bg:            #0C0E14e6;
    main-fg:            #c0caf5ff;
    main-br:            #7aa2f7ff;
    main-ex:            #7aa2f7ff;
    select-bg:          #c0caf5ff;
    select-fg:          #0C0E14ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}